@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #d8cbc7;
  --text-color: #433a3f;
  --accent-color: #ff4e00;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.1rem;
}

a:not(.header__link) {
  color: var(--accent-color);
  font-weight: 500;
}

a:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.square-img {
  aspect-ratio: 1;
  object-fit: cover;
  margin-block: 1em;
}

.rect-img {
  aspect-ratio: 16/9;
  object-fit: cover;
  margin-block: 1em;
}

.fade-in {
  animation: fade-in 0.33s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
